
@{
    ViewBag.Title = "_Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_Header</h2>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
        </a>
    </div>
</nav>
