
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("_Navbar")
    <div class="d-flex flex-column p-3 bg-light">

        @RenderBody()
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>