@*<nav class="navbar bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Personel Yönetim Sistemi</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Departman">Departmanlar</a></li>
                <li><a href="/Personel">Personeller</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>*@
@*<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personel Yönetim Sistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Departman">Departmanlar</a></li>
            <li><a href="/Personel">Personeller</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>*@

<nav class="navbar navbar navbar-expand-sm bg-dark navbar-dark py-4">

    <div class="container-fluid">
        <!-- Links -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Diş Hekimliği Uzmanlık Sistemi</a>
        </div>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kayıt</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Personel</a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Admin/danismanListele">Öğretim Görevlileri</a></li>
                    <li><a class="dropdown-item" href="/Admin/Index">Personel İşlemleri</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Öğrenci</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Admin/Yeni">Öğrenciler</a></li>
                    <li><a class="dropdown-item" href="/Admin/Index2">Öğrenci İşlemleri</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Akademik Ders</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Admin">Akademik Dersler</a></li>
                    <li><a class="dropdown-item" href="/Admin/Index3">Akademik Ders İşlemleri</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </a>
        </div>
    </nav>
</nav>
@*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Link</a></li>
            <li><a class="dropdown-item" href="#">Another link</a></li>
            <li><a class="dropdown-item" href="#">A third link</a></li>
        </ul>
    </li>*@
@*<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Diş Hekimliği Uzmanlık Modülü</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>*@
